:root {
    background-color: black;

}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -5px 8px 11px black;
    margin: 0;
    padding: 0;
    color: antiquewhite
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}


h1 {
    font-size: 6rem;
    color: rgb(132, 132, 158);
    margin-bottom: 4rem;
}

h1>span {

    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: medium;
    margin-bottom: 4rem;
    font-weight: 400;
    color: rgb(89, 0, 45);
    font-style: oblique;


}

h3 {

    font-size: 20px;
    font-weight: 300;
}

/*  guts */

.container {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    margin: 0 auto;

}

.container>* {
    width: 100%;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;

}

.justify-center {
    justify-content: center;

}

.text-center {
    text-align: center;

}

.hidden {
    display: none;
}

/* buttons */

/* a.button {
    font-size: 2rem;
    padding:1rem 0;
    width: 14rem;
    height: 6rem;
    text-align: center ;
    border: 0.1rem solid rgb(251, 245, 242);
    margin-bottom: 1rem;
    text-decoration: dotted;
    color: rgba(3, 18, 62, 0.726);
    background-color:rgba(173, 216, 230, 0.482);
} */
a.button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem gray;
    transform: translateY(-0.2rem);
    transition: transform 150ms;

}

button {
    font-size: 1rem;
    width: 5rem;
    text-align: center;
    margin-bottom: 5px;
    color: coral;
    background-color: whitesmoke;
    margin-left: 15%;
    padding: 0rem 0px;
    border-width: 0.1rem;
    border-style: solid;
    border-color: coral;
    border-image: initial;
    text-decoration: dotted;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem gray;
    transform: translateY(-0.2rem);
    transition: transform 150ms;

}

.button-nonactive {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.background {
    background-image: url("../kolors4kidz/k4k.jpeg");
    background-size: 25%;
}

.submit {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    margin: right;
    margin-right: 50%;
}